<template>
  <div class="characteristic-phone">
    <div class="characteristic-phone__title">{{ product.name }} {{ product.memory }}GB</div>
    <div class="characteristic-phone__color">Цвет: {{ product.color }}</div>
    <div class="characteristic-phone__colors">
      <ui-square
        v-for="(color, index) in product.colors"
        :key="index"
        :color="color"
      />
    </div>
    <div class="characteristic-phone__props">Характеристики:</div>
    <div
      v-for="(characteristic, index) in product.characteristics"
      :key="index"
      class="characteristic-phone__characteristics"
    >
      <div v-if="showAll || index <= 5" class="characteristic-phone__characteristic">
        <span>{{ characteristic.name }}:</span>
        <span>{{ characteristic.prop }}</span>
      </div>
    </div>
    <div
      v-if="!showAll"
      @click="showAll = true"
      class="characteristic-phone__all"
    >Все характеристики</div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, ref } from 'vue';

defineProps({
  product: {
    type: Object,
    required: true
  }
});

const showAll = ref(false);
</script>

<style scoped lang="scss">
.characteristic-phone {
  width: 354px;
  color: $black;

  &__title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  &__color {
    font-size: 16px;
    color: $dark-grey;
    margin-bottom: 24px;
  }

  &__colors {
    margin-bottom: 24px;
    display: flex;
    gap: 29px;
  }

  &__props {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &__characteristic {
    margin-bottom: 24px;
    color: $dark-grey;
    font-size: 21px;
  }

  &__characteristic {
    display: flex;
    justify-content: space-between;
  }

  &__all {
    color: $blue;
    font-size: 18px;
    cursor: pointer;
  }
}
</style>
