<template>
  <div class="page-phone">
    <div class="page-phone__container">
      <img
        src="@/assets/images/phone.png"
        alt="Изображение телефона"
        class="page-phone__image"
      >
      <characteristic-phone :product="product"/>
      <price-block
        :product="product"
        @click="toBasket"
      />
    </div>
    <base-review :product="product.id"/>
  </div>
</template>

<script setup lang="ts">
import CharacteristicPhone from './CharacteristicPhone.vue';
import PriceBlock from '@/base/PriceBlock.vue';
import BaseReview from '@/base/BaseReview.vue';
import { ref } from 'vue';

const product = ref({
  price: '79990',
  id: 1,
  name: 'Смартфон Apple iPhone 13',
  memory: '128',
  color: 'white',
  colors: ['red', 'black', 'gold'],
  characteristics: [
    { name: 'Экран', prop: '6.1"/2532x1170' },
    { name: 'Количество ядер', prop: '6' },
    { name: 'Мощность блока питания', prop: '20 Вт' },
    { name: 'Оперативная память (RAM)', prop: '6 ГБ' },
    { name: 'Встроенная память (ROM)', prop: '128 ГБ' },
    { name: 'Основная камера МПикс:', prop: '64/2' },
    { name: 'Работа на аккумуляторе', prop: '20 ч' },
    { name: 'Еще что-то', prop: 'Да' },
    { name: 'И еще что-то', prop: 'Нет' },
    { name: 'Экран', prop: '6.1"/2532x1170' },
    { name: 'Количество ядер', prop: '6' },
    { name: 'Мощность блока питания', prop: '20 Вт' },
    { name: 'Оперативная память (RAM)', prop: '6 ГБ' },
    { name: 'Встроенная память (ROM)', prop: '128 ГБ' },
    { name: 'Основная камера МПикс:', prop: '64/2' },
    { name: 'Работа на аккумуляторе', prop: '20 ч' },
    { name: 'Еще что-то', prop: 'Да' },
    { name: 'И еще что-то', prop: 'Нет' },
  ]
});

const toBasket = (arg: Object) => {
  console.log('arg', arg);
};
</script>

<style scoped lang="scss">
.page-phone {

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    max-width: 411px;
    align-self: start;
  }
}
</style>
