<template>
  <div class="block-filters"></div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.block-filters {
  width: 289px;
  padding: 16px;
  border-radius: 8px;
  background-color: $bg-red;
  //background-color: $bg-white;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}
</style>
