<template>
  <div class="pages-phone">
    <div class="pages-phone__container">
      <block-filters></block-filters>
      <list-phones></list-phones>
    </div>
  </div>
</template>

<script setup lang="ts">
import BlockFilters from './BlockFilters.vue';
import ListPhones from './ListPhones.vue';
</script>

<style scoped lang="scss">
.pages-phone {
  display: flex;
  justify-content: center;
  padding: 24px 0;

  &__container {
    max-width: 1280px;
    display: flex;
    gap: 80px;
    flex: 1;
  }
}
</style>
