<template>
  <div class="banner-catalog"></div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.banner-catalog {
  width: 100%;
  height: 260px;
  background-color: $bg-black;
  border-radius: 8px;
}
</style>
