<template>
  <main class="catalog">
    <banner-catalog/>

    <section class="catalog__section">
      <h2 class="catalog__title">Каталог</h2>
      <div class="catalog__content">
        <router-link
          v-for="product in products"
          :key="product._id"
          :to="product.name"
          class="catalog__card"
        >
          <div class="catalog__wrapper">
            <img :src="product.src" :alt="product.description">
          </div>
          <span class="catalog__text">{{ product.description }}</span>
        </router-link>
      </div>
    </section>

    <promo-catalog/>
  </main>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import BannerCatalog from './BannerCatalog.vue';
import PromoCatalog from './PromoCatalog.vue';

// todo Подумать о другом решение

import phones from '@/assets/images/products/phones.png';
import laptops from '@/assets/images/products/laptops.png';
import computers from '@/assets/images/products/computers.png';
import tv from '@/assets/images/products/tv.png';
import tablets from '@/assets/images/products/tablets.png';
import loudspeakers from '@/assets/images/products/loudspeakers.png';

interface Product {
  _id: string | number;
  name: string;
  description: string;
  src: string;
}

const products = ref<Product[]>([
  {
    _id: 1,
    name: 'phones',
    description: 'Смартфоны',
    src: phones,
  },
  {
    _id: 2,
    name: 'laptops',
    description: 'Ноутбуки',
    src: laptops,
  },
  {
    _id: 3,
    name: 'computers',
    description: 'Компьютеры',
    src: computers,
  },
  {
    _id: 4,
    name: 'tv',
    description: 'Телевизоры',
    src: tv,
  },
  {
    _id: 5,
    name: 'tablets',
    description: 'Планшеты',
    src: tablets,
  },
  {
    _id: 6,
    name: 'loudspeakers',
    description: 'Колонки',
    src: loudspeakers,
  },
]);
</script>

<style scoped lang="scss">
.catalog {
  &__section {
    margin: 40px 0;
  }

  &__title {
    padding-bottom: 28px;
    font-size: 32px;
    color: $black;
  }

  &__content {
    display: flex;
    gap: 16px;
  }

  &__card {
    width: 200px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &__wrapper {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background-color: $bg-sky-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 20px;
    color: $black;
  }
}
</style>
