<template>
  <section class="promo-catalog">
    <h2 class="promo-catalog__title">Акции</h2>
    <div class="promo-catalog__list">
      <CardPhone
        v-for="phone in phones"
        :key="phone.id"
        :phone="phone"
      />
    </div>
  </section>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import CardPhone from '@/base/CardPhone.vue';

const phones = ref([
  {
    id: 11,
    name: 'iPhone',
    model: '14',
    memory: '128',
    price: '89990',
    inStock: true,
  },
  {
    id: 12,
    name: 'iPhone',
    model: '14',
    memory: '256',
    price: '99990',
    inStock: true,
  },
  {
    id: 13,
    name: 'Samsung',
    model: 'Galaxy',
    memory: '256',
    price: '86990',
    inStock: true,
  },
  {
    id: 14,
    name: 'Nokia',
    model: 'Lumia',
    memory: '64',
    price: '45590',
    inStock: false,
  },
  {
    id: 15,
    name: 'iPhone',
    model: '13',
    memory: '64',
    price: '39990',
    inStock: false,
  },
  {
    id: 16,
    name: 'iPhone',
    model: '13',
    memory: '128',
    price: '49990',
    inStock: true,
  },
]);
</script>

<style scoped lang="scss">
.promo-catalog {
  &__title {
    margin-bottom: 28px;
    padding-bottom: 28px;
    font-size: 32px;
    color: $black;
    border-bottom: 1px solid $bg-sky-blue;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}
</style>
