@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?143yk7');
  src:  url('fonts/icomoon.eot?143yk7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?143yk7') format('truetype'),
    url('fonts/icomoon.woff?143yk7') format('woff'),
    url('fonts/icomoon.svg?143yk7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e901";
}
.icon-chevron:before {
  content: "\e902";
}
.icon-corner:before {
  content: "\e903";
}
.icon-credit-card:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-filter:before {
  content: "\e906";
}
.icon-grid:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e908";
}
.icon-help-circle:before {
  content: "\e91c";
}
.icon-home:before {
  content: "\e909";
}
.icon-image:before {
  content: "\e90a";
}
.icon-list:before {
  content: "\e90b";
}
.icon-log-in:before {
  content: "\e90c";
}
.icon-log-out:before {
  content: "\e90d";
}
.icon-minus:before {
  content: "\e90e";
}
.icon-minus-square:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-plus-square:before {
  content: "\e911";
}
.icon-reload:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-settings:before {
  content: "\e915";
}
.icon-shopping-cart:before {
  content: "\e916";
}
.icon-sliders:before {
  content: "\e917";
}
.icon-star:before {
  content: "\e918";
}
.icon-trash:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e91a";
}
.icon-user-check:before {
  content: "\e91b";
}
.icon-user-x:before {
  content: "\e914";
}
