<template>
  <div class="ui-avatar"></div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';

defineProps({
  url: String,
});
</script>

<style scoped lang="scss">
.ui-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: gold;
}
</style>
