<template>
  <button
    :class="[
      'ui-button',
      {
        'ui-button__disabled': disabled,
        'ui-button__small': small,
        'ui-button__full-width': fullWidth,
      }
    ]"
    :disabled="disabled"
  >
    <slot/>
    {{ label }}
    <ui-icon
      v-if="icon"
      :name="icon"
      class="ui-button__icon"
    />
  </button>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';

defineProps({
  label: String,
  icon: String,
  disabled: Boolean,
  small: Boolean,
  fullWidth: Boolean,
});
</script>

<style scoped lang="scss">
@mixin disabled {
  background-color: $bg-sky-blue;
  border: 1px solid $bg-sky-blue;
  color: $disabled;
  cursor: not-allowed;
}

.ui-button {
  background-color: $bg-blue;
  border: 1px solid $bg-blue;
  border-radius: 8px;
  color: $white;
  height: 49px;
  padding: 0 32px;
  cursor: pointer;
  transition: .3ms;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not([disabled]):hover {
    opacity: 0.8;
  }

  &:not([disabled]):active {
    @include disabled;
  }

  &__disabled {
    @include disabled;
  }

  &__small {
    height: 40px;
  }

  &__full-width {
    width: 100%;
  }

  &__icon {
    margin-left: 16px;
    font-size: 16px;
  }
}
</style>
