<template>
  <div class="ui-checkbox">
    <label class="ui-checkbox__label">
      <span class="ui-checkbox__slot">
        {{ label }}
        <slot/>
      </span>
      <input
        type="checkbox"
        :disabled="disabled"
        v-model="model"
        class="ui-checkbox__input"
      />
      <span :class="['ui-checkbox__checkmark ', { 'ui-checkbox__checkmark_disabled': disabled }]"/>
    </label>
  </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits, computed } from 'vue';

const props = defineProps({
  check: Boolean,
  disabled: Boolean,
  label: String,
});

const emit = defineEmits<{
  // eslint-disable-next-line no-unused-vars
  (e: 'update:check', check: boolean): void;
}>();

const model = computed({
  get() {
    return props.check;
  },
  set(value: boolean): void {
    emit('update:check', value);
  },
});

</script>

<style scoped lang="scss">
.ui-checkbox {
  position: relative;
  min-height: 24px;

  &__label {
    width: calc(100% - 34px);
    display: block;
    position: relative;
    padding-left: 34px;
    margin-bottom: 12px;
    user-select: none;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .ui-checkbox__checkmark {
      border: 2px solid $bg-blue;
      &:after {
        display: block;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: $bg-white;
    border: 2px solid $bg-grey;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 0;
      width: 10px;
      height: 17px;
      border: solid $blue;
      border-width: 0 2px 2px 0;
      transform: rotate(34deg);
    }

    &_disabled {
      background-color: $bg-grey;
      border: 2px solid $disabled !important;
      cursor: not-allowed;

      &:after {
        border: solid $disabled;
        border-width: 0 2px 2px 0;
      }
    }
  }
}
</style>
