<template>
  <div class="ui-counter">
    <div
      :class="[
        'ui-counter__arithmetic',
        {
          'ui-counter__disabled': count === 1
        }
      ]"
      @click="decrement"
    >
      <ui-icon name="minus"/>
    </div>
    <div class="ui-counter__number">{{ count }}</div>
    <div
      :class="[
        'ui-counter__arithmetic',
        {
          'ui-counter__disabled': count === total,
        }
      ]"
      @click="increment"
    >
      <ui-icon name="plus"/>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, ref } from 'vue';

const props = defineProps({
  total: {
    type: Number,
    default: 1
  },
});

const count = ref(1);

const decrement = () => {
  if (count.value === 1) return;
  count.value -= 1;
};

const increment = () => {
  if (count.value === props.total) return;
  count.value += 1;
};
</script>

<style scoped lang="scss">
.ui-counter {
  display: flex;
  border: 1px solid $bg-violet;
  border-radius: 4px;
  background-color: $bg-white;
  padding: 0 10px;
  color: $violet;
  align-items: center;
  width: 99px;
  height: 32px;
  flex: 1 1 auto;
  user-select: none;

  &__arithmetic {
    font-size: 20px;
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;

    &:last-child {
      justify-content: flex-end;
    }
  }

  &__number {
    color: $black;
    font-size: 16px;
    flex: 1;
    text-align: center;
  }

  &__disabled {
    cursor: not-allowed;
    color: $disabled;
  }
}
</style>
