<template>
  <ui-square
    class="ui-heart"
    color="white"
    @click="like = !like"
  >
    <ui-icon name="heart" :class="{ 'ui-heart__like': like }"/>
  </ui-square>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const like = ref(false);
</script>

<style scoped lang="scss">
.ui-heart {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  cursor: pointer;

  &__like {
    color: $red;
  }
}
</style>
