<template>
  <span
    v-if="icon"
    :style="{
      color,
      fontSize: size
    }"
    :class="['ui-icon', icon]"
  />
</template>

<script setup lang="ts">
import { defineProps, computed } from 'vue';

const props = defineProps({
  name: String,
  color: String,
  size: String,
});

const icon = computed(() => {
  if (props?.name) return `icon-${props.name}`;
  return '';
});
</script>

<style scoped lang="scss">
.ui-icon {
  position: relative;
  font-size: 16px;
}
</style>
