<template>
  <div class="ui-input">
    <div :class="['ui-input__label', {'ui-input__label_focus': focused}]">
      {{ label }}
    </div>
    <div>
      <div v-if="icon" class="ui-input__icon">
        <ui-icon :name="icon"/>
      </div>
      <input
        :value="value"
        :class="['ui-input__field',  {
          'ui-input__field_with-label': label,
          'ui-input__field_focused': focused,
          'ui-input__field_error': isError,
          'ui-input__field_with-icon': icon,
        }]"
        :disabled="disabled"
        @focus="onFocus"
        @blur="onBlur"
        @input="updateValue"
        :placeholder="placeholder"
      />
      <div
        v-if="status !== null"
        class="ui-input__status"
      >
        <img v-if="status" src="@/assets/icons/svg/success.svg" alt="Валидация пройдена успешно">
        <img v-else src="@/assets/icons/svg/error.svg" alt="Валидация с ошибкой">
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, defineProps, defineEmits, computed } from 'vue';

const focused = ref(false);

const props = defineProps({
  value: String,
  label: String,
  placeholder: String,
  disabled: Boolean,
  icon: String,
  status: {
    type: Boolean || null,
    default: null,
  }
});

const isError = computed(() => {
  if (props.status === null || props.status) return false;
  return true;
});

const onFocus = () => {
  if (props.label) focused.value = true;
};

const onBlur = () => {
  if (props.label && !props.value) focused.value = false;
};

const emit = defineEmits<{
  // eslint-disable-next-line no-unused-vars
  (e: 'update:value', value: string): void;
}>();

const updateValue = (event: Event): void => {
  emit('update:value', (event.target as HTMLInputElement).value);
};
</script>

<style scoped lang="scss">
.ui-input {
  margin: 8px 0 12px;
  position: relative;
  width: 100%;

  &__label {
    position: absolute;
    top: 18px;
    left: 16px;
    color: black;
    transition: top .2s;
    user-select: none;

    &_focus {
      top: 10px;
      font-size: 12px;
    }
  }

  &__icon {
    position: absolute;
    top: 13px;
    left: 16px;
  }

  &__field {
    border-radius: 8px;
    border: 1px solid $bg-black;
    width: 100%;
    height: 41px;
    padding: 0 16px;
    color: $black;
    background-color: $bg-white;
    font-size: 16px;
    outline: none;

    &:disabled {
      cursor: not-allowed;
      background-color: $bg-grey;
    }

    &_with-label {
      height: 57px;
    }

    &_focused {
      padding: 14px 16px 0;
    }

    &_error {
      border: 1px solid $bg-red;
    }

    &_with-icon {
      padding-left: 46px;
      background-color: $bg-light-grey;
      border: 1px solid $bg-light-grey;
    }
  }

  &__status {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
</style>
