<template>
  <textarea
    :value="value"
    :placeholder="placeholder"
    :disabled="disabled"
    @input="updateValue"
    class="ui-message"
  />
</template>

<script setup lang="ts">
import { defineEmits, defineProps } from 'vue';

defineProps({
  value: String,
  placeholder: String,
  disabled: Boolean,
});

const emit = defineEmits<{
  // eslint-disable-next-line no-unused-vars
  (e: 'update:value', value: string): void;
}>();

const updateValue = (event: Event): void => {
  emit('update:value', (event.target as HTMLInputElement).value);
};
</script>

<style scoped lang="scss">
.ui-message {
  width: 100%;
  height: 146px;
  border: 1px solid $bg-black;
  border-radius: 8px;
  resize: none;
  outline: none;
  background-color: $bg-white;
  font-size: 16px;
  padding: 16px;

  &:disabled {
    cursor: not-allowed;
    background-color: $bg-grey;
  }

  &::placeholder { /* Modern browsers */
    color: $black;
  }
}
</style>
