<template>
  <div v-if="modal" class="ui-modal" @click="closeModal">
    <div class="ui-modal__overlay" @click.stop>
      <slot/>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';

defineProps({
  modal: Boolean
});

const emit = defineEmits<{
  // eslint-disable-next-line no-unused-vars
  (e: 'update:modal', modal: boolean): void;
}>();

const closeModal = () => {
  emit('update:modal', false);
};
</script>

<style scoped lang="scss">
.ui-modal {
  @include wrapper-fixed($rgba, 3);

  &__overlay {
    background-color: $bg-white;
    color: $black;
    border-radius: 8px;
    padding: 32px;
  }
}
</style>
