<template>
  <div v-if="loading" class="ui-spinner">
    <div class="ui-spinner__text">GLANCE</div>
  </div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';

defineProps({
  loading: Boolean,
});
</script>

<style scoped lang="scss">
.ui-spinner {
  @include wrapper-fixed($bg-sky-blue, 3);

  &__text {
    font-size: 60px;
    background: linear-gradient(to left, #260dc1 30%, #cfe2e8 40%, #fff 50%, #59006f 70%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glance 3s linear infinite reverse;
  }

  @keyframes glance {
    to {
      background-position: 200% center;
    }
  }
}
</style>
