<template>
  <div
    :style="style"
    :class="[
      'ui-square',
       {
         'ui-square__cursor': cursor,
         'ui-square__disabled': disabled,
       }
     ]">
    <slot/>
  </div>
</template>

<script setup lang="ts">
import { defineProps, computed } from 'vue';

const props = defineProps({
  size: String,
  color: String,
  cursor: Boolean,
  disabled: Boolean,
});

interface Styles {
  backgroundColor?: string;
  border?: string;
  width?: string;
  height?: string;
}

const style = computed(() => {
  let style: Styles = {};
  if (props?.color) {
    style.backgroundColor = props.color;
  } else {
    style.border = '1px solid black';
  }

  if (props?.size) {
    style.width = props.size;
    style.height = props.size;
  }

  return style;
});

</script>

<style scoped lang="scss">
.ui-square {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__cursor {
    cursor: pointer;
  }

  &__disabled {
    cursor: not-allowed;
  }
}
</style>
