<template>
  <div class="ui-stars">
    <ui-icon
      v-for="star in allStars"
      :key="star"
      name="star"
      :class="['ui-stars__star', { 'ui-stars__active-star': star <= activeGrade }]"
      @click="selectGrade(star)"
    />
  </div>
</template>

<script setup lang="ts">
import { ref, defineProps, computed } from 'vue';

const stars = ref(5);
const activeGrade = ref(0);

const props = defineProps({
  grade: {
    type: Number || String,
    default: 0,
  }
});

const allStars = computed(() => {
  const grade = Math.round(Number(props.grade));
  if (grade > 0) {
    return grade;
  } else {
    return stars.value;
  }
})

const selectGrade = (grade: number) => {
  if (props.grade === 0) {
    activeGrade.value = grade;
  }
};
</script>

<style scoped lang="scss">
.ui-stars {
  display: flex;
  gap: 5px;

  &__star {
    color: $grey;

    &:hover {
      color: $dark-grey;
    }
  }

  &__active-star {
    color: $violet;
  }
}
</style>
