<template>
  <base-header/>
  <div class="container">
    <router-view/>
  </div>
  <ui-spinner :loading="loading"/>
</template>

<script setup lang="ts">
import BaseHeader from '@/base/BaseHeader.vue';
import { ref, onMounted } from 'vue';

const loading = ref(false);

onMounted(() => {
  loading.value = false;
  setTimeout(() => loading.value = false, 3000);
})
</script>

<style>
#app {}
.container {
  width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
}
</style>
