// Цвета текста

$white: #F6F6F6;
$black: #0C0C0C;
$blue: #091D9E;
$violet: #750DC5;
$sky-blue: #BCC5FF;
$yellow: #EBBA1A;
$red: #FF0000;
$green: #169B00;
$light-grey: #DEDEDE;
$grey: #C1C1C1;
$dark-grey: #454545;
$disabled: #505050;
$gradient-text: -webkit-linear-gradient(#260dc1, #59006f);

// Цвета фона

$bg-white: #F6F6F6;
$bg-black: #0C0C0C;
$bg-blue: #091D9E;
$bg-violet: #750DC5;
$bg-sky-blue: #BCC5FF;
$bg-yellow: #EBBA1A;
$bg-red: #FF0000;
$bg-green: #169B00;
$bg-light-grey: #DEDEDE;
$bg-grey: #C1C1C1;
$bg-dark-grey: #454545;
$disabled: #505050;

$rgba: rgba(0, 0, 0, 0.3);

$gradient: linear-gradient(to bottom, #260dc1 0%, #59006f 100%);

@mixin wrapper-fixed ($color, $index:1) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color;
  z-index: $index;
  display: flex;
  justify-content: center;
  align-items: center;
}
