<template>
  <ui-counter />
  <ui-button label="Click" @click="onClick" :disabled="disabled" icon="reload"/>
  <ui-modal v-model:modal="isModal" />
  <ui-checkbox v-model:check="isChecked" disabled/>
  <ui-input v-model:value="inputValue" label="Введите что-нибудь" disabled icon="camera"/>
  <ui-input v-model:value="inputValue" icon="camera" />
  <ui-icon name="camera" color="red" size="33px"/>
  <ui-message v-model:value="inputValue" placeholder="Введите что-нибудь"/>
  <ui-square />
  <ui-heart v-model:like="like"/>
  <ui-stars/>
  <ui-spinner :loading="loading"/>
</template>

<script setup lang="ts">
import { ref } from 'vue';
const inputValue = ref('');
const like = ref(false);
const disabled = ref(false);
const isModal = ref(false);
const isChecked = ref(true);
const loading = ref(false);

const onClick = () => {
  disabled.value = true;
  isModal.value = true;
  setTimeout(() => disabled.value = false, 5000);
}
</script>

<style scoped lang="scss">

</style>
