<template>
  <div class="basket-page">this is basket {{authStore.myTestAlert}}</div>
  <div v-if="!loading">products: {{ products }}</div>
  <div v-else>Await load...</div>
  <div class="basket-page__container">
    <div v-for="(product, index) in products" :key="index" class="basket-page__brand">{{ product.brand }}</div>
  </div>
  <ui-button @click="testSync" :disabled="loading">click</ui-button>
</template>

<script setup lang="ts">
import { useAuthStore } from '@/store/auth';
const authStore = useAuthStore();
import axios from 'axios';
import { ref } from 'vue';

const loading = ref(false);
const products = ref([]);
const testSync = () => {
  loading.value = true;
  axios
    .get('http://localhost:5000/products')
    .then(({data}) => products.value = data)
    .catch((error) => console.error('error', error))
    .finally(() => loading.value = false)
}
</script>

<style scoped lang="scss">
.basket-page {
  &__container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    padding: 20px;
  }
  &__brand {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: $blue;
    color: $white;
  }
}
</style>
