<template>
  <div>{{ bla }}</div>
  <button @click="zoo">click </button>
</template>

<script>
export default {
  data() {
    return {
      bla: 'magic 404'
    };
  },
  methods: {
    zoo() {
      this.bla = 'pizda'
    }
  }
}
</script>

<style scoped lang="scss">

</style>
