<template>
  <div>
    ProfilePage
    <button @click="account.methods.bar()">Mixin with Vue 2</button>
    <button @click="func">Mixin with Vue 3</button>
  </div>
</template>

<script setup lang="ts">
import account from '@/mixins/account'
import telemed from '@/mixins/telemed';

const func = () => {
  console.log('eee', telemed.setup().zoo());
}
</script>

<style scoped lang="scss">

</style>
