<template>
  <section class="base-review">
    <div class="base-review__title">Отзывы</div>
    <div class="base-review__rating">
      <span>1325 отзывов </span>
      <span>2000 оценок</span>
    </div>
    <div class="base-review__section">
      <div class="base-review__images" :style="width">
        <img
          v-for="image in images"
          :key="image"
          src="@/assets/images/phone.png"
          alt="Фото телефона"
          class="base-review__image"
          @click="zoomIn"
        >
      </div>
    </div>
    <block-review/>
  </section>
</template>

<script setup lang="ts">
import BlockReview from './BlockReview.vue';
import { ref, computed } from 'vue';

const images = ref(['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eit', 'nine', 'ten']);

const width = computed(() => ({
  width: ((160 * images.value.length) - 16) + 'px',
}));

const zoomIn = () => {
  console.log('Сделать в дальнейшем модалку и увеличивать картинку');
};
</script>

<style scoped lang="scss">
.base-review {
  margin-top: 40px;

  &__title {
    font-size: 32px;
    font-weight: 400;
    color: $black;
  }

  &__rating {
    font-size: 20px;
    color: $dark-grey;
    margin: 24px 0;
  }

  &__section {
    width: 100%;
    overflow-x: auto;
  }

  &__images {
    margin-bottom: 24px;
    display: flex;
    gap: 16px;
  }

  &__image {
    width: 160px;
    height: 220px;
    cursor: zoom-in;
  }
}
</style>
