<template>
  <header class="header">
    <div class="header__container">
      <h1 class="header__logo" @click="goHome">GLANCE</h1>
      <ui-input
        v-model:value="search"
        icon="search"
        placeholder="Поиск"
        class="header__input"
      />
      <div class="header__links">
        <router-link
          v-for="(item, index) in items"
          :key="index"
          :to="item.link"
          :class="['header__link', { 'header__link_active': isActiveLink(item.link) }]"
        >
          <ui-icon :name="item.icon" class="header__icon" />
          <span class="header__text">{{ item.name }}</span>
        </router-link>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import { RouterName } from '@/router/constants';
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const route = useRoute();
const router = useRouter();

interface ItemsLink {
  name: String;
  link: String;
  icon: String;
}

const search = ref('');
const items = ref<ItemsLink[]>([
  {
    name: 'Каталог',
    link: '/', // todo почитать и подумать над проблемой
    icon: 'list',
  },
  {
    name: 'Корзина',
    link: RouterName.Basket,
    icon: 'shopping-cart',
  },
  {
    name: 'Профиль',
    link: RouterName.Profile,
    icon: 'user',
  },
]);

const goHome = () => {
  router.push({
    name: RouterName.Catalog,
  });
};

const isActiveLink = (link: ItemsLink['link']) => {
  return route.name === link;
}
</script>

<style scoped lang="scss">
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid $grey;

  &__logo {
    font-size: 28px;
    background: $gradient-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  &__container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  &__input {
    max-width: 754px;
  }

  &__links {
    display: flex;
    gap: 32px
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark-grey;

    &_active {
      color: $blue;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__icon {
    font-size: 24px !important;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 14px;
  }
}
</style>
