<template>
  <section class="block-review">
    <div class="block-review__grade">
      <span>4</span>
      <ui-stars :grade="4"/>
    </div>
    <div class="block-review__section">
      <div class="block-review__reviews" :style="width">
        <card-review
          v-for="review in reviews"
          :key="review._id"
          :review="review"
        />
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import CardReview from './CardReview.vue';
import { ref, computed } from 'vue';

const reviews = ref([
  {
    _id: 1,
    grade: 5,
    url: '',
    name: 'Андрей',
    createdDate: '31.01',
    plus: 'Очень красивый, удобно пользоваться',
    minus: 'У айфоне не может быть недостатков',
    comment: '',
  },
  {
    _id: 51,
    grade: 5,
    url: '',
    name: 'Петя',
    createdDate: '08.02',
    plus: ' Цена норм, пользуюсь уже 2 месяца',
    minus: 'Нет',
    comment: '',
  },
  {
    _id: 111,
    grade: 2,
    url: '',
    name: 'Владимир',
    createdDate: '08.02',
    plus: 'Крутой телефон, все нравится, советую',
    minus: 'Нет',
    comment: '',
  },
  {
    _id: 3,
    grade: 4,
    url: '',
    name: 'Андрей',
    createdDate: '19.02',
    plus: 'Очень красивый, хочу оч сильно, скоро куплю',
    minus: 'Немного грязная коробка, но для меня это не такой уж и недостаток. Главное что никем не вскрытая) кто берет на подарок - запаситесь тряпочкой. (Я видел подобные отзывы, поэтому считаю нужным продублировать)',
    comment: '',
  },
  {
    _id: 16,
    grade: 5,
    url: '',
    name: 'Алексей',
    createdDate: '21.02',
    plus: 'Два слова - «лучший смартфон».',
    minus: 'Нагрев при сильной нагрузке или активной фото/видео съёмке (не критичный, последние обновления ios немного пофиксили эту проблему). Если сильно увлечься, можно не заметить как тают проценты заряда (особенно при использовании камеры). В полной экипировке - тяжелый (чехол, стекло на экран, стекло на блок камер).',
    comment: '',
  },
  {
    _id: 12,
    grade: 5,
    url: '',
    name: 'Роман',
    createdDate: '22.02',
    plus: 'Очень красивый, удобно пользоваться',
    minus: 'При переходе с 11 айфона на 15 промах сразу приятно ощущаются 120 Гц, другой тип матрицы и разрешение экрана. Плавность и стабильность работы, никаких фризов, отличная оптимизация приложений. Производительность в играх ощущается, особенно при 120 fps. Также при переходе с 11 айфона очень впечатлила камера промаха, хотя я далеко не фотограф. Заряд держит хорошо, при среднем использовании, даже с играми, выдерживает 2 дня. Сильно не грелся, все в разумных пределах.',
    comment: '',
  },
  {
    _id: 21,
    grade: 3,
    url: '',
    name: 'Андрей',
    createdDate: '02.03',
    plus: '+ шустрый (быстрое переключение между приложениями)\n' +
        '+ хороший дисплей (скорее настройка)\n' +
        '+ хорошая камера (я не фотограф и мало в этом понимаю, но фотографии хорошие)',
    minus: 'Нет',
    comment: '',
  },
  {
    _id: 11,
    grade: 4,
    url: '',
    name: 'Владимир',
    createdDate: '11.03',
    plus: 'Новенький айфон,камера и type -c',
    minus: 'Нет',
    comment: '',
  },
]);

const width = computed(() => ({
  width: ((284 * reviews.value.length) - 16) + 'px'
}));
</script>

<style scoped lang="scss">
.block-review {
  background-color: $bg-sky-blue;
  padding: 20px 16px;

  &__grade {
    display: flex;
    margin-bottom: 16px;
    font-size: 20px;
  }

  &__section {
    width: 100%;
    overflow-x: auto;
  }

  &__reviews {
    display: flex;
    gap: 16px;
  }
}
</style>
