<template>
  <div class="card-phone">
    <img
      src="@/assets/images/myPhone.png"
      alt="Изображение телефона"
      class="card-phone__image"
      @click="openCard"
    >
    <div>
      <span>{{ smartphone }}</span>
    </div>
    <span>{{ phone.price }}₽</span>
    <div class="card-phone__in-stock">
      <span :class="[phone.inStock ? 'card-phone__in-stock_success' : 'card-phone__in-stock_warning']">
        {{ inStock }}
      </span>
      <ui-heart/>
    </div>
    <ui-button full-width>В корзину</ui-button>
  </div>
</template>

<script setup lang="ts">
import { defineProps, PropType, computed } from 'vue';
import { useRouter } from 'vue-router';
import { RouterName } from '@/router/constants';

const router = useRouter();

interface CardPhone {
  id: string | number;
  name: string;
  model: string;
  memory: string | number;
  price: string | number;
  inStock: boolean;
}

const props = defineProps({
  phone: {
    type: Object as PropType<CardPhone>,
    required: true
  }
});

const memory = computed(() => props.phone.memory ? `${props.phone.memory}GB` : '');
const smartphone = computed(() => `Смартфон ${props.phone.name} ${ props.phone.model } ${ memory.value }`);
const inStock = computed(() => props.phone.inStock ? 'В наличие' : 'Нет в наличие');

const openCard = () => {
  router.push({
    name: RouterName.CardPhone,
    params: {
      phone: props.phone.id
    }
  });
};
</script>

<style scoped lang="scss">
.card-phone {
  width: 185px;

  &__image {
    cursor: pointer;
  }

  &__in-stock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;

    &_success {
      color: $green;
    }

    &_warning {
      color: $dark-grey;
    }
  }
}
</style>
