<template>
  <article class="card-review">
    <div class="card-review__data">
      <div class="card-review__info">
        <ui-avatar :url="review.url"/>
        <div class="card-review__name">
          <span>{{ review.name }}</span>
          <ui-stars :grade="review.grade"/>
        </div>
      </div>
      <div>{{ review.createdDate }}</div>
    </div>
    <div class="card-review__block">
      <span class="card-review__item">Плюсы: </span>
      <span class="card-review__text">{{ review.plus }}</span>
    </div>
    <div class="card-review__block">
      <span class="card-review__item">Минусы: </span>
      <span class="card-review__text">{{ review.minus }}</span>
    </div>
    <a class="card-review__link" @click="openReview">Читать полностью</a>
  </article>
</template>

<script setup lang="ts">
import { defineProps, PropType } from 'vue';
import { useRouter } from 'vue-router';
import { RouterName } from '@/router/constants';

const router = useRouter();

interface Review {
  _id: number;
  grade: number;
  url: string | null;
  name: string;
  createdDate: string;
  plus: string;
  minus: string;
  comment: string;
}

const props = defineProps({
  review: {
    type: Object as PropType<Review>,
    required: true
  }
});

const openReview = () => {
  router.push({
    name: RouterName.PageReview,
    params: {
      id: props.review._id
    }
  });
};
</script>

<style scoped lang="scss">
.card-review {
  width: 268px;
  height: 262px;
  background-color: $bg-white;
  border-radius: 8px;
  padding: 22px 18px;
  color: $black;

  &__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 16px;
  }

  &__info {
    display: flex;
    gap: 12px;
    color: $dark-grey;
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__block {
    margin-bottom: 10px;
    height: 58px;
    overflow: hidden;
  }

  &__item {
    font-size: 20px;
    font-weight: 400;
  }

  &__text {
    color: $dark-grey;
  }

  &__link {
    color: $blue;
    font-size: 18px;
    cursor: pointer;
  }
}
</style>
