<template>
  <div class="price-block">
    <span class="price-block__amount">{{ price }} ₽</span>
    <ui-button
      :disabled="isDisabled"
      class="price-block__button"
      @click="toBasket"
    >
      В корзину
    </ui-button>
  </div>
</template>

<script setup lang="ts">
import { defineProps, computed, defineEmits } from 'vue';

const props = defineProps({
  product: {
    type: Object,
    required: true
  }
});

const price = computed(() => {
  return props.product?.price || 0;
});

const isDisabled = computed(() => {
  return price.value === 0;
});

const emit = defineEmits<{
  // eslint-disable-next-line no-unused-vars
  (e: 'click', product: object): void;
}>();

const toBasket = () => {
  emit('click', props.product)
};
</script>

<style scoped lang="scss">
.price-block {
  padding: 40px;
  background-color: #E7E7ED;
  border-radius: 8px;
  align-self: start;

  &__amount {
    font-size: 24px;
  }

  &__button {
    margin-top: 28px;
    width: 199px;
  }
}
</style>
